$EventCard = {
  colors: {
    shadow: $palette.black,
    label: $palette.white,
    labelBG: $palette.tomatoRed
  }
}

.EventCard {
  display: block;
  overflow: hidden;
  position: relative;
  width: 315px;
  height: 200px;
  cursor: pointer;
  box-shadow: 0px 0px 5px $EventCard.colors.shadow;
  text-decoration: none;

  &.state--labelize {
    border: 2px solid $EventCard.colors.labelBG;
  }

  &.state--hasPlusElement {
    .EventCard__content {
      padding-right: 45px;
    }
  }

  &--small {
    width: 220px;
    height: 140px;
  }

  &:hover {
    .EventCard__content {
      background-color: rgba(#000, 0.5);

      .Title {
        white-space: normal;
      }
    }
    .EventCard__mask {
      opacity: 0;
    }
  }

  &__online {
    position: absolute;
    display: block;
    right: 5px;
    top: 5px;
    font-size: 2em;
    opacity: 0.6;
    color: white;
  }

  &__label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $EventCard.colors.labelBG;
    color: $EventCard.colors.label;
    padding: 1px 6px 3px 4px;
    text-transform: uppercase;
    font-weight: $font.bold;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__mask,
  &__content {
    position: absolute;
    transition: all 210ms ease;
  }

  &__mask {
    height: 100%;
    width: 100%;
    top: 0;
    background-image: radial-gradient(circle at 49% 50%, rgba(0, 0, 0, .0), rgba(0, 0, 0, .4));
    opacity: 1;
  }

  &__content {
    padding: 10px;
    color: white;
    bottom: 0px;
    background-color: rgba(#000, 0);
    width: 100%;

    &__title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .Title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-shadow: 0 0 3px rgba($palette.black, 0.5);
      display: block;
      font-weight: $font.bold;
    }
  }

  .Plus {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}
