@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.contentLoader {
	width: 80px;
	height: 80px;
	background-color: $palette.coolGrey;
}


.Loader {
  width: 80%;
  height: 80%;
  animation: anim-rotate 1s infinite steps(12);
  text-shadow: 0 0 .25em rgba(255, 255, 255, .3);

  g {
    fill: $palette.white;
  }
}
