@require './palette';

$themes = {};

$themes.social = {
  text: $palette.white,
  bg: $palette.darkGrey,
  bgColorStart: #283f47,
  bgColorEnd: #0c1215
}

$themes.official = {
  text: $palette.darkGrey,
  bg: $palette.whiteGrey,
  bgColorStart: #f7f7f7,
  bgColorEnd: #d8d8d8
}

for theme, i in $themes {
  .th--{theme} {
    background-color: $themes[theme].bg;
    color: $themes[theme].text;
  }
}
