.MenuLabel {
  display: block;
  font-size: $fontSize.medium;
  font-weight: $font.normal;
  padding: 15px 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  .state--active & {
    transition: all 170ms;

    [class^="wgf-icon-"] {
      opacity: 1;
      color: $palette.coolBlue;
      line-height: 0.30em;
      font-size: 4.5em;
      transition: all 170ms ease;
    }
  }

  &:hover {
    background-color: $palette.white;
  }

  .state--active & {
    background-color: $palette.petrol;
    color: $palette.white;

    [class^="wgf-icon-"] {
      color: $palette.cloudyBlue;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $palette.petrol;
    width: 0;
    transition: all 170ms ease-in;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $palette.petrol;
    width: 0;
    transition: all 170ms ease-in;
  }

  [class^="wgf-icon-"] {
    opacity: .5;
    color: $palette.cloudyBlue;
    text-align: right;
    font-size: 2em;
    line-height: 0.7em;
    transform: translate3d(0, 0, 0);
    transition: all 170ms ease;
    position: absolute;
  }

  &--left {
    text-align: left;

    &:hover,
    .state--active & {
      &:after {
        width: 5px;
      }

      [class^="wgf-icon-"] {
        right: -5px;
      }
    }

    [class^="wgf-icon-"] {
      right: 15px;
    }
  }

  &--right {
    text-align: right;

    &:hover,
    .state--active & {
      &:before {
        width: 5px;
      }

      [class^="wgf-icon-"] {
        left: -5px;
      }
    }

    [class^="wgf-icon-"] {
      left: 15px;
    }
  }
}
