.NotificationsCounter {
  cursor: default;
  display: inline-block;
  color: $palette.darkGrey;
  padding: 0 5px;
  box-shadow: 0 0 4px $shadow;
  border-radius: 20px;
  background-color: $palette.mango;
  height: 20px;
  min-width: @height;
  text-align: center;
  font-weight: $font.normal;
  remFontSize($fontSize.medium, 20);
}
