$input-text {
  border-radius: 4px;
  border: 0;
  padding: 10px;
}

.Field {
  &__error,
  &__required {
    display: block;
    opacity: 0;
    transition: opacity 250ms;
    color: $colors.error;
    padding: 10px 0;

    &:before {
      content: '\00a0';
    }

    .error &,
    .required & {
      opacity: 1;
    }
  }

  label {
    /*@extend $input-text;
    text-align: left;
    color: #333;*/
    @extend $h-semanticOnly;
  }

  input {
    @extend $input-text;
    display: block;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 0 #E8E8E8;
    margin-bottom: 4px;
    outline: none;
    color: #333;

    .error&,
    .required& {
      box-shadow: 0 4px 0 $colors.error;
    }
  }
}
