$resetButton {
  background: none;
  padding: 0;
  margin: 0;
  border-width: 0;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  outline: 0;
  text-transform: uppercase;
}

.H-reset {
  button& {
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    display: inherit;
  }
}
