@font-face {
	font-family: 'wgf-icon';
	src:url('/assets/fonts/wgf-icon.eot?-fouwck');
	src:url('/assets/fonts/wgf-icon.eot?#iefix-fouwck') format('embedded-opentype'),
		url('/assets/fonts/wgf-icon.ttf?-fouwck') format('truetype'),
		url('/assets/fonts/wgf-icon.woff?-fouwck') format('woff'),
		url('/assets/fonts/wgf-icon.svg?-fouwck#wgf-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wgf-icon-"], [class*=" wgf-icon-"] {
	font-family: 'wgf-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wgf-icon-uniE600:before {
	content: "\e600";
}
.wgf-icon-back:before {
	content: "\e601";
}
.wgf-icon-backwardsbubble:before {
	content: "\e602";
}
.wgf-icon-bag2:before {
	content: "\e603";
}
.wgf-icon-bag:before {
	content: "\e604";
}
.wgf-icon-baseball:before {
	content: "\e605";
}
.wgf-icon-battery:before {
	content: "\e606";
}
.wgf-icon-bell:before {
	content: "\e607";
}
.wgf-icon-bluetooth:before {
	content: "\e608";
}
.wgf-icon-book:before {
	content: "\e609";
}
.wgf-icon-bookmark:before {
	content: "\e60a";
}
.wgf-icon-browser:before {
	content: "\e60b";
}
.wgf-icon-calendar:before {
	content: "\e60c";
}
.wgf-icon-camera:before {
	content: "\e60d";
}
.wgf-icon-card:before {
	content: "\e60e";
}
.wgf-icon-cassette:before {
	content: "\e60f";
}
.wgf-icon-chat:before {
	content: "\e610";
}
.wgf-icon-chip:before {
	content: "\e611";
}
.wgf-icon-clock1:before {
	content: "\e612";
}
.wgf-icon-clock2:before {
	content: "\e613";
}
.wgf-icon-clouddownload:before {
	content: "\e614";
}
.wgf-icon-cloudupload:before {
	content: "\e615";
}
.wgf-icon-cloud:before {
	content: "\e616";
}
.wgf-icon-compass:before {
	content: "\e617";
}
.wgf-icon-controller:before {
	content: "\e618";
}
.wgf-icon-crosshair:before {
	content: "\e619";
}
.wgf-icon-cup:before {
	content: "\e61a";
}
.wgf-icon-cylinder:before {
	content: "\e61b";
}
.wgf-icon-diamond:before {
	content: "\e61c";
}
.wgf-icon-disc:before {
	content: "\e61d";
}
.wgf-icon-display:before {
	content: "\e61e";
}
.wgf-icon-dontknowbubble:before {
	content: "\e61f";
}
.wgf-icon-downbubble:before {
	content: "\e620";
}
.wgf-icon-drop:before {
	content: "\e621";
}
.wgf-icon-DVD:before {
	content: "\e622";
}
.wgf-icon-eye:before {
	content: "\e623";
}
.wgf-icon-flask:before {
	content: "\e624";
}
.wgf-icon-folder:before {
	content: "\e625";
}
.wgf-icon-forwardsbubble:before {
	content: "\e626";
}
.wgf-icon-ghost:before {
	content: "\e627";
}
.wgf-icon-glass:before {
	content: "\e628";
}
.wgf-icon-globe:before {
	content: "\e629";
}
.wgf-icon-grid2:before {
	content: "\e62a";
}
.wgf-icon-grid3:before {
	content: "\e62b";
}
.wgf-icon-grid4:before {
	content: "\e62c";
}
.wgf-icon-grid5:before {
	content: "\e62d";
}
.wgf-icon-grid:before {
	content: "\e62e";
}
.wgf-icon-heart:before {
	content: "\e62f";
}
.wgf-icon-house:before {
	content: "\e630";
}
.wgf-icon-ice:before {
	content: "\e631";
}
.wgf-icon-key:before {
	content: "\e632";
}
.wgf-icon-keyboard:before {
	content: "\e633";
}
.wgf-icon-lamp:before {
	content: "\e634";
}
.wgf-icon-leaf:before {
	content: "\e635";
}
.wgf-icon-letter:before {
	content: "\e636";
}
.wgf-icon-lifebelt:before {
	content: "\e637";
}
.wgf-icon-lightbulb:before {
	content: "\e638";
}
.wgf-icon-lightning:before {
	content: "\e639";
}
.wgf-icon-list1:before {
	content: "\e63a";
}
.wgf-icon-list2:before {
	content: "\e63b";
}
.wgf-icon-lock:before {
	content: "\e63c";
}
.wgf-icon-loupe:before {
	content: "\e63d";
}
.wgf-icon-mappin:before {
	content: "\e63e";
}
.wgf-icon-menu:before {
	content: "\e63f";
}
.wgf-icon-mic:before {
	content: "\e640";
}
.wgf-icon-moon:before {
	content: "\e641";
}
.wgf-icon-mousecursor:before {
	content: "\e642";
}
.wgf-icon-mouse:before {
	content: "\e643";
}
.wgf-icon-needle:before {
	content: "\e644";
}
.wgf-icon-note:before {
	content: "\e645";
}
.wgf-icon-notepad:before {
	content: "\e646";
}
.wgf-icon-paperplane:before {
	content: "\e647";
}
.wgf-icon-paper:before {
	content: "\e648";
}
.wgf-icon-patch:before {
	content: "\e649";
}
.wgf-icon-pause:before {
	content: "\e64a";
}
.wgf-icon-pen:before {
	content: "\e64b";
}
.wgf-icon-phone:before {
	content: "\e64c";
}
.wgf-icon-picture:before {
	content: "\e64d";
}
.wgf-icon-piechart:before {
	content: "\e64e";
}
.wgf-icon-play:before {
	content: "\e64f";
}
.wgf-icon-plug:before {
	content: "\e650";
}
.wgf-icon-printer:before {
	content: "\e651";
}
.wgf-icon-returnbubble:before {
	content: "\e652";
}
.wgf-icon-settings2:before {
	content: "\e653";
}
.wgf-icon-settings:before {
	content: "\e654";
}
.wgf-icon-sharebubble:before {
	content: "\e655";
}
.wgf-icon-share:before {
	content: "\e656";
}
.wgf-icon-shield:before {
	content: "\e657";
}
.wgf-icon-sign:before {
	content: "\e658";
}
.wgf-icon-speaker:before {
	content: "\e659";
}
.wgf-icon-star:before {
	content: "\e65a";
}
.wgf-icon-stats2:before {
	content: "\e65b";
}
.wgf-icon-stats:before {
	content: "\e65c";
}
.wgf-icon-sun:before {
	content: "\e65d";
}
.wgf-icon-switchwindows2:before {
	content: "\e65e";
}
.wgf-icon-switchwindows:before {
	content: "\e65f";
}
.wgf-icon-switch:before {
	content: "\e660";
}
.wgf-icon-temperature:before {
	content: "\e661";
}
.wgf-icon-thumbsdown:before {
	content: "\e662";
}
.wgf-icon-thumbsup:before {
	content: "\e663";
}
.wgf-icon-tick:before {
	content: "\e664";
}
.wgf-icon-trashcan:before {
	content: "\e665";
}
.wgf-icon-trophy:before {
	content: "\e666";
}
.wgf-icon-upbubble:before {
	content: "\e667";
}
.wgf-icon-URL:before {
	content: "\e668";
}
.wgf-icon-USB:before {
	content: "\e669";
}
.wgf-icon-user:before {
	content: "\e66a";
}
.wgf-icon-videocamera:before {
	content: "\e66b";
}
.wgf-icon-wallet:before {
	content: "\e66c";
}
.wgf-icon-washer:before {
	content: "\e66d";
}
.wgf-icon-wireless:before {
	content: "\e66e";
}
.wgf-icon-X:before {
	content: "\e66f";
}
