.ContentPak {
  background: none;

  &__ctn {
    height: 100px;
    padding: 10px 40px 10px 64px;
    display: inline-block;
    background: linear-gradient($themes.official.bgColorStart 0%, lighten($themes.official.bgColorEnd, 40%) 100%);
    transform: skew(25deg);
    transform-origin: left bottom;

    &__inner {
      height: 100%;
      transform: skew(-25deg);
      display: flex;
      align-items: center;
    }

    .th--social & {
      background: linear-gradient($themes.social.bgColorStart 0%, darken($themes.social.bgColorStart, 50%) 100%);
    }
  }

  .Cover,
  .Avatar {
    position: relative;
    max-width: 190px;
    height: auto;
    margin-right: 40px;
    align-self: flex-end;
  }

  .Cover {
    bottom: -10px;
  }

  .Avatar--org {
    bottom: 10px;
    margin-right: 20px;
    margin-left: -10px;
  }


  .Title {
    font-weight: $font.normal;
  }

  .AddGame {
    display: block;
    position: relative;
    left: 20px;
  }
}
