.ContentHead {
  padding: $spacing.default $spacing.block $spacing.small;
  background: linear-gradient($themes.official.bgColorStart 0%, lighten($themes.official.bgColorEnd, 40%) 100%);
  color: $palette.darkGrey;
}
