.Label {
  display inline-block
  font-weight: $font.light
  font-size 14px
  line-height 14px
  text-transform uppercase
  color #ffffff
  background #666666
  padding 7px
  min-width 44px
  text-align center

  .labelCtnr & {
    margin-left: 5px

    &:first-child {
      margin-left: 0
    }
  }
}
