@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,400italic");

.displayNone {
  border-top: 0;
}

.displayNone .sg-section-example-body {
  display: none;
}

.sg-section-example-body {
  font-family: Lato, "sans-serif";
}

.app-body {
  background-color: #eaeaea;
}

.app-body .sg-section-example-body {
  padding: 0;
}

.get-some-space .sg-section-example-body {
  padding: 100px 0;
}

.get-some-little-space .sg-section-example-body {
  padding: 20px;
}

.no-v-space .sg-section-example-body {
  padding: 20px 0;
}

.sg-icon-list {
  font-size: 20px;
  overflow: hidden;
}

.sg-icon-list [class^="wgf-icon"] {
  display: block;
  float: left;
  margin: 10px;
}

.demoSpace {
  padding: 20px;
}
