.ThumbBlock {
  background #333
  overflow hidden

  &__imagePart {
    float left

    img {
      display block
    }
  }

  &__otherPart {
    width 100%
    background #333
    color white

    &__head {
      padding 20px
      color white
      background #000
      overflow hidden

      h1, h2, h3 {
        margin: 0
      }
    }

    &__body {
      padding 20px
      overflow hidden
    }
  }
}
