$Plus = {
  color: {
    bg: $palette.orangeRed,
    boxShadow: $palette.tomatoRed,
    boxShadow2: $palette.darkGrey
  }
}

.Plus {
  position: relative;
  display: inline-block;
  margin: 5px;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 21px;
  height: 21px;
  line-height: 21px;
  color: $palette.white;
  text-align: center;
  background-color: $Plus.color.bg;
  box-shadow: 0 0.02em 5px rgba($Plus.color.boxShadow2, 0.6);
  outline: 0;
  transition: all 125ms ease;

  [class^="wgf-icon-"] {
    position: absolute;
    top: 10px;
    display: block;
    width: 100%;
    remFontSize(21px, 0);
    font-weight: bold;
    transition: none;
  }

  .Loader {
    position: absolute;
    top: 2px;
    left: 2px;
  }

  // Interactions
  &:hover,
  &:focus {
    background-color: lighten($Plus.color.bg, 20%);

    &.state--notLoading.Plus--icon-arrows_plus [class^="wgf-icon-"] {
      transform: rotate(90deg);
      transition: all 125ms ease;
    }
  }

  &:active {
    box-shadow: none;
    transform: scale(0.8);
  }

  &--main {
    width: 45px;
    height: 45px;
    line-height: 45px;
    box-shadow: 0 $uiThickness 0 $Plus.color.boxShadow, 0 unit($uiThickness + 0.02, 'em') 5px rgba($Plus.color.boxShadow2, 0.6);

    [class^="wgf-icon-"] {
      top: 22px;
      remFontSize(45px, 0);
    }

    .Loader {
      margin-top: 3px;
      margin-left: 2px;
    }

    &:active {
      transform: translateY($uiThickness);
    }

    .th--social & {
      box-shadow: 0 $uiThickness 0 $Plus.color.boxShadow, 0 unit($uiThickness + 0.02, 'em') 5px #000;

      &:active {
        box-shadow: none;
      }
    }
  }
}
