/**
Native elements

Add here all default styles
*/

@require './variables'

* {
  box-sizing border-box
}

body {
  font-family: 'Lato', sans-serif;
  background: #EAEAEA;
}

h1,
h2,
h3 {
  font-weight: $font.light
  text-transform uppercase
  margin 0
}

dl {
  margin 0
}

dd {
  margin 0
}
