/**
Global Variables

$size - Object containing all standards sizes
$spacing - Object containing spacing between elements
$font - Object containing some font-weight particularities

Style Guide: 1.1
*/

@require 'colors/palette';

$size = {
  default: 980px
}

$bg-offcanvas = #333
$radius = 4px;

$font = {
  light: 300,
  normal: normal,
  bold: bold
}

$fontSize = {
  xLarge: 24px,
  large: 20px,
  medium: 16px,
  regular: 13px,
  small: 11px
}

$t-ml-leftMenu = 450px
$t-ml-leftMenu-small = 80%
$t-ml-leftMenu-color = #333

$spacingDefault = 20px;
$spacing = {
  default: $spacingDefault
}

$colors = {
  error: #FF5C56
}

$uiThickness = .3em;
$shadow = $palette.darkGrey;
